.character-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 95px;
}

.character-section > div {
  flex: 1;
}

.character-section > div:first-child {
  position: relative;
}

.character-section > div:first-child {
  display: flex;
  color: white;
  justify-content: center;
  overflow: hidden;
}

.character-section .character-details {
  position: relative;
  width: 70%;
  padding-left: 100px;
}

.character-section > div:first-child > div:first-child {
  z-index: 99;
  width: 42%;
  display: flex;
  margin-left: 100px;
  justify-content: center;
  margin-top: 70px;
}

.character-section > div:first-child {
  background-color: #151515;
  width: 100%;
}

.character-section > div:first-child button {
  background-color: inherit;
  color: white;
  border: 1px solid white;
  padding: 15px 25px;
  margin-top: 30px;
  cursor: pointer;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  position: relative;
  transition: 0.3s all ease;
  outline: none;
}

.character-section > div:first-child button:hover {
  background-color: #f11e23;
}

.character-section > div:last-child {
  background-color: white;
  padding-top: 28px;
}

.character-section .character-image {
  position: relative;
  width: 60%;
}

.character-section > div > div h2 {
  font-size: 42px;
  line-height: 40px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-bottom: 20px;
  margin-top: 5px;
}

.character-section > div > div h3 {
  font-size: 18px;
  line-height: 19px;
  letter-spacing: 4px;
  padding-bottom: 30px;
}

.character-section > div > div .description {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.5px;
}

.character-section > div:first-child img {
  height: 550px;
  width: 100%;
  object-fit: cover;
}

.character-section .favorited {
  background-color: #f11e23 !important;
}

/* COMICS SECTION */

.character-comics {
  width: 65%;
  margin-top: -100px;
  z-index: 99;
  margin: -80px auto;
}

.character-comics .container {
  display: flex;
  width: 98%;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: auto;
}

.character-comics .container > div {
  flex: 18%;
  max-width: 25%;
}

/* SPECIFIC STYLING */

.character-section .character-image::after {
  content: "";
  background-color: #151515;
  transform: rotate(-15deg);
  left: -50px;
  top: -50px;
  width: 150px;
  height: 150%;
  position: absolute;
}

.character-section > div:first-child::after {
  content: "";
  position: absolute;
  background-color: white;
  height: 100px;
  bottom: -70px;
  width: 150%;
  transform: rotate(-2deg);
}

.character-section > div > div h3::after {
  content: "";
  width: 30px;
  height: 2px;
  background-color: #c6a972;
  transform: rotate(-45deg);
  position: absolute;
  left: 48px;
  top: -18px;
  margin-left: 100px;
}

.character-section > div > div h3::before {
  content: "";
  width: 30px;
  height: 2px;
  background-color: #c6a972;
  transform: rotate(-45deg);
  position: absolute;
  left: 0px;
  top: 33px;
  margin-left: 100px;
}

/* RESPONSIVE DESIGN  */

@media (max-width: 1240px) {
  .character-comics .container > div {
    flex: 25%;
    max-width: 30%;
  }
}

@media (max-width: 900px) {
  .character-comics .container > div {
    flex: 40%;
    max-width: 50%;
  }
  .character-comics {
    width: 85%;
  }
}

@media (max-width: 605px) {
  .character-comics .container > div {
    flex: 100%;
    max-width: 90%;
  }
}
