.character-main {
  margin: auto;
  max-width: 1200px;
  margin-top: 80px;
}

/* CHARACTER SECTION */

.characters-section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
}

.characters-section > a {
  flex: 20%;
  max-width: 25%;
}

/* RESPONSVIE DESIGN */

@media (max-width: 1230px) {
  .character-main {
    width: 900px;
    margin-top: 80px;
  }

  .characters-section > a {
    flex: 25%;
  }
}

@media (max-width: 930px) {
  .character-main {
    width: 90%;
  }

  .characters-section > a {
    flex: 33%;
  }
}

@media (max-width: 738px) {
  .characters-section > a {
    flex: 50%;
    max-width: 50%;
  }
}

@media (max-width: 430px) {
  .characters-section > a {
    flex: 100%;
    max-width: 100%;
  }
}
