/* SEARCH BAR SECTION */

.search-bar {
  position: relative;
}

.search-bar svg {
  position: absolute;
  color: #202;
  left: 0px;
  top: 50%;
}

.search-bar input {
  border: none;
  border-bottom: 2px #202 solid;
  color: black;
  outline: none;
  width: 45%;
  margin-top: 0px;
  padding-top: 20px;
  font-size: 28px;
  font-family: inherit;
  font-weight: bold;
  letter-spacing: 1px;
  padding-left: 30px;
  padding-bottom: 5px;
}

.search-bar input::placeholder {
  font-size: 28px;
  color: rgb(232, 232, 232);
  font-weight: 400;
}
