.favorites {
    margin-top: 60px;
    margin-bottom: 100px;
 
  }
  
  .favorite-title::before {
    content: "";
    width: 30px;
    height: 2px;
    background-color: #c6a972;
    transform: rotate(-45deg);
    position: absolute;
    left: 65px;
    top: 150px;
  }
  
  .favorite-title::after {
    content: "";
    width: 30px;
    height: 2px;
    background-color: #c6a972;
    transform: rotate(-45deg);
    position: absolute;
    left: 10px;
    top: 40px;
  }
  
  .favorite-title h2 {
    margin-bottom: 15px;
    color: #202020;
    font-size: 26px;
    letter-spacing: 1px;
  }
  
  .favorite-title {
    position: relative;
    padding-left: 15px;
    margin-top: 150px;
  }
  
  .empty-favorites {
    width: 100vw;
    height: 83vh;
    position: relative;
    margin-bottom: -80px;
    overflow: hidden;
  }
  
  .empty-favorites > div {
    width: 90%;
    max-width: 1300px;
    display: flex;
    justify-content: flex-start;
  }
  
  .empty-favorites > div > div:last-child {
    position: absolute;
    right: 150px;
    bottom: -4px;
    margin: 0 auto;
  }
  
  .empty-favorites > div > div:first-child {
    width: 30%;
    top: 3%;
    color: black;
    margin-top: 290px;
    margin-left: 15%;
    position: absolute;
  }
  
  .empty-favorites > div h2 {
    font-size: 44px;
    letter-spacing: 0.5px;
    line-height: 44px;
    font-weight: bold;
    padding-bottom: 30px;
  }
  
  .empty-favorites > div h3 {
    font-size: 20px;
    letter-spacing: 0.5px;
    line-height: 44px;
    font-weight: bold;
    padding-bottom: 30px;
  }
  
  .empty-favorites img {
    width: 450px;
    height: auto;
  }
  
  .empty-favorites::before {
    background-image: url(../../assets/rain.gif);
    background-size: contain;
    content: "";
    position: absolute;
    z-index: 9;
    width: 100%;
    height: 100%;
  }
  