body {
  font-family: "Roboto Condensed", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.loading {
  width: 100vw;
  height: 83vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -80px;
}

.main-navigation {
  margin-top: 180px;
  padding: 0 15px;
}

.main-navigation > div:first-child {
  position: relative;
}

.main-navigation > div:last-child {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  border-top: 2px solid lightgrey;
  padding-top: 25px;
  margin-top: -32px;
}

.main-navigation > div:last-child > p {
  color: rgb(174, 174, 174);
}

.main-navigation > div h2 {
  margin-bottom: 15px;
  color: #202020;
  font-size: 26px;
  letter-spacing: 1px;
}

.main-navigation > div {
  position: relative;
  margin-bottom: 30px;
}

.main-navigation > .section-title::before {
  content: "";
  width: 30px;
  height: 2px;
  background-color: #c6a972;
  transform: rotate(-45deg);
  position: absolute;
  left: 48px;
  top: -18px;
}

.main-navigation > .section-title::after {
  content: "";
  width: 30px;
  height: 2px;
  background-color: #c6a972;
  transform: rotate(-45deg);
  position: absolute;
  left: -8px;
  top: 40px;
}

/* PAGINATION */

.pagination {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.pagination a {
  padding: 0 13px;
  outline: none;
  cursor: pointer;
  font-size: 18px;
}

.active {
  font-weight: bold;
}

/* SCROLL BAR

.character-comics ::-webkit-scrollbar {
  height: 6px;
}

.character-comics ::-webkit-scrollbar-track {
  background: #f1f1f1;
  background-clip: content-box;
  border: 4px solid transparent;
}

.character-comics ::-webkit-scrollbar-thumb {
  background: #f11e23;
} */
